@import "_nullstyle";
@import "_headerStyle";
@import "_contentStyle";
@import "_seartchStyle";
@import "_productStyle";
@import "_sidebar";

.container {
  max-width: 1710px; // по макету ширина 1100px, но так как не будет брейк поинтов, то делаем отступ от краев +30px
  padding: 0px 15px; // невелируем задданый отступ в 30px по краям
  margin: 0 auto; //центруем контенер  
}

.widget {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.page {
  font-family: Lato;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.widget__main {
  width: 100%;
  height: 100%;
  display: flex;
}


.widget__container{
  width: 73vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

._ibg {
	position: relative; //позиционируем главный блок как родительский 
	//height: 100%;
}

._ibg img {
	object-fit: fill; // заполняем 
	object-fit: cover; // выравниваем
	position: absolute; // делаем позиционируем к родиительскому 
	width: 100%; // растягиваем на всю ширину родителя 
	height: 100%; // на всю высоту родителя 
	top: 0; // кординаты начала в родительском блоке 
	left: 0;
}

@media(max-width:600px){
  .widget__main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}